@import './../../../index.scss';

.notes-item {
    display: flex;
    flex-direction: column;
    background: #F5F5F5;
    border-radius: 12px;
    padding: 12px;
    gap: 6px;

    .title {
        font-size: 14px;
        font-weight: 700;
        color: $font-color;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
    }

    .description {
        font-size: 12px;
        font-weight: 500;
        color: $font-color;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
    }

    .deadline {
        font-size: 12px;
        font-weight: 500;
        color: #BCBCBC;
    }
}
