.start-page{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    &__head{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        h1{
            font-size: 20px;
            font-weight: 500;
            color: #D3D3D3;
            text-align: center;

            span{
                color: black;
            }
        }
    }

    &__actions{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        .button-reg{
            width: 290px;
            background: none;
            color: black;
            border: 1px solid #D3D3D3;

            &:hover{
                border-color: black;
            }
            
            svg{
                path{
                    fill: black;
                }
            }
        }
    }
}