.notes {
    .head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .notes__wrapper {
        display: grid;
        grid-template-columns: minmax(200px, auto) minmax(300px, auto);
        margin-top: 30px;
        gap: 24px;

        .notes__wrapper-status {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
            grid-auto-flow: dense;
        }
    }
}

.div1 {
    background: wheat;
    height: 30px;
}

.div2 {
    background: rgb(181, 180, 180);
    height: 30px;
}