.notes {
  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .notes__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
    gap: 24px;
    min-height: calc(100vh - 120px);

    .notes__wrapper-status {
      display: flex;
      gap: 24px;
      overflow-x: auto;
      padding-right: 5px;

      &::-webkit-scrollbar {
        height: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: #d9d9d9;
      }
    }
  }
}

.div1 {
  background: wheat;
  height: 30px;
}

.div2 {
  background: rgb(181, 180, 180);
  height: 30px;
}

.skeletonWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.skeleton {
  min-width: 251px;
  border-radius: 10px;
  height: 53px !important;
}

.skeletonContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  br {
    display: none;
  }
}
