.profile-settings__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background: none;
    padding: 12px;
    cursor: pointer;
    transition: all .3s ease;

    .icon {
        width: 20px;
        height: 20px;

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
            color: #636363;
            transition: all .3s ease;
        }
    }

    .text {
        color: #636363;
        font-size: 14px;
        font-weight: 500;
        transition: all .3s ease;
    }

    &:hover {
        background: #F5F5F5;
    }

    &:hover .text {
        color: black;
    }

    &:hover .icon svg {
        color: black;
    }
}