.noteSidebar {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100vh;
  width: 40vw;
  background: white;
  border-radius: 12px 0px 0px 12px;
  border: 1px solid #e4e4e4;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
    }
  }

  .textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 15px;
    font-weight: 400;
    min-height: 500px;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .deleteButton {
      width: 40px;
      height: 40px;
    }

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;

      .icon {
        width: 24px;
        height: 24px;
        color: black;

        svg {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        .text {
          font-size: 16px;
        }
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .button {
      width: 200px;
    }
  }

  .close {
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      svg {
        color: black;
      }

      .closeText {
        color: black;
      }
    }

    &Svg {
      width: 13px;
      height: 13px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
        color: #636363;
        transition: all 0.3s ease;
      }
    }

    &Text {
      font-size: 16px;
      color: #636363;
      transition: all 0.3s ease;
    }
  }
}
