@import './../../index.scss';

.genjutsu{
    min-width: 246px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    min-width: 246px;
    border-right: 1px solid #D9D9D9;
    min-height: 100vh;
    padding: 24px 0 0px 0;
    position: fixed;

    &__nav{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 24px;
    }

    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        .img{
            width: 20px;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        h2 {
            font-size: 16px;
            font-weight: 500;
        }
    }

    .menu{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .profile__wrapper{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}