.dateChange {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  // Глобальное переопределение с :global
  :global {
    .react-calendar {
      width: 100%;
      background: white;
      font-family: inherit;
      border-radius: 8px;

      &__navigation {
        display: flex;
        height: 36px;
        margin-bottom: 16px;

        button {
          background: none;
          border: none;
          min-width: 36px;
          color: black; // Серый-800
          cursor: pointer;
          font-size: 16px;
          border-radius: 4px;
          padding: 0;
          transition: all 0.3s ease;

          &:hover {
            background: #f3f4f6; // Серый-100
          }

          &:disabled {
            opacity: 0.5;
            cursor: default;
          }
        }

        &__label {
          font-weight: 500;
          font-size: 16px;
        }
      }

      &__month-view {
        &__weekdays {
          text-align: center;
          margin-bottom: 8px;
          font-size: 14px;
          color: black; // Серый-500

          &__weekday {
            padding: 8px 0;
            abbr {
              text-decoration: none;
            }
          }
        }

        &__days {
          &__day {
            padding: 8px 0;
            border-radius: 4px;

            &--neighboringMonth {
              color: #9ca3af; // Серый-400
            }
          }
        }
      }

      &__tile {
        border: none;
        background: none;
        height: 36px;
        transition: all 0.3s ease;

        &:hover {
          background: #f3f4f6; // Серый-100
        }

        &--now {
          border: 1px solid black; // Синий-100
          color: black; // Синий-700
          font-weight: bold;
        }

        &--active {
          background: black; // Синий-600
          color: white;

          &:hover {
            background: black; // Синий-700
          }
        }
      }
    }
  }
}

// Стили для выходных
:global(.weekend) {
  // color: #ef4444 !important; // Красный-500
}

// Стиль для выбранного дня
:global(.selectedDay) {
  background: black !important; // Синий-600
  color: white !important;
}
